.header
    background: url(../images/background.webp) center (center/cover) no-repeat
    height: 100vh
    margin-bottom: 10px
    &__top
        display: flex
        justify-content: space-between
        align-items: center
        height: 100px
    &__menu-list
        display: flex
        & a
            opacity: .5
            font-weight: 600
            text-transform: uppercase
        & li + li
            padding-left: 50px
    &__login
        color: $maincolor
        font-weight: 600
        text-transform: uppercase
        margin-right: 40px
    &__sign-up
        font-weight: 600
        color: $seccolor
        text-transform: uppercase
        background: #ffffff
        padding: 8px 43px
        border-radius: 20px
        &:hover
            background: $tricolor
            color: $seccolor
            box-shadow: -1px 2px 5px $seccolor

.header__slider
    padding-top: 111px
    &-item-content
        display: flex
        justify-content: space-between
    &-item-info
        max-width: 506px
    &-title
        font-size: 45px
        font-weight: bold
        line-height: 60px
        margin-bottom: 10px
        & span
            color: $tricolor
    &-subtitle
        font-size: 24px
        line-height: 55px
        margin-bottom: 62px
    &-btn
        font-weight: 600
        text-transform: uppercase
        padding: 14px 39px
        background: black
        border-radius: 20px
        &:hover
            background: $tricolor
            color: $seccolor
            box-shadow: -1px 1px 5px $seccolor
    &-item-images
        margin: 10px 82px 0 0

// slick dots
.header-dots
    position: absolute
    right: 0
    top: 50%
    & button
        border: none
        background: white
        opacity: .5
        font-size: 0
        padding: 0
        height: 7px
        width: 7px
        border-radius: 3.5px
        cursor: pointer
    & .slick-active button
        width: 15px
        opacity: .8

// starfall
// .night
//     position: absolute
//     width: 100%
//     height: 150%
//     transform: rotateZ(55deg)
// .star
//     position: absolute
//     left: 5%
//     top: 50%
//     height: 5px
//     background: linear-gradient(-90deg, $tricolor, rgba(0, 0, 255, 0))
//     border-radius: 999px
//     filter: drop-shadow(0 0 6px #fdff69)
//     animation: tail 10s ease-in-out infinite, falling 10s ease-in-out infinite

// @keyframes tail
//     0%
//         width: 0

//     30%
//         width: 100px

//     100%
//         width: 0

// @keyframes falling
//     0%
//         transform: translateX(0)
//     100%
//         transform: translateX(100px)

// .star::before, .star::after
//     content: ''
//     position: absolute
//     top: calc(50% - 2px)
//     right: 0
//     height: 4px
//     background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fffb00, rgba(0, 0, 255, 0))
//     border-radius: 100%
//     transform: translateX(50%) rotateZ(45deg)
//     animation: shining 5s ease-in-out infinite

// @keyframes shining
//     0%
//         width: 0

//     50%
//         width: 40px

//     100%
//         width: 0

// .star::after
//     transform: translateX(50%) rotateZ(-45deg)

// .star:nth-child(1)
//     top: calc(10% - 100px)
//     left: calc(20% - 250px)
//     animation-delay: 1s

// .star:nth-child(1)::before, .star:nth-child(1)::after
//     animation-delay: 1s

// .star:nth-child(2)
//     top: calc(20% - 50px)
//     left: calc(20% - 200px)
//     animation-delay: 1.2s

// .star:nth-child(2)::before, .star:nth-child(2)::after
//     animation-delay: 1.2s

// .star:nth-child(3)
//     top: calc(20% - 0px)
//     left: calc(40% - 150px)
//     animation-delay: 3s

// .star:nth-child(3)::before, .star:nth-child(3)::after
//     animation-delay: 1.4s

// .star:nth-child(4)
//     top: calc(60% - -50px)
//     left: calc(30% - 150px)
//     animation-delay: 1s

// .star:nth-child(4)::before, .star:nth-child(4)::after
//     animation-delay: 1.6s
// .star:nth-child(5)
//     top: calc(80% - -100px)
//     left: calc(20% - 250px)
//     animation-delay: 1.8s

// .star:nth-child(5)::before, .star:nth-child(5)::after
//     animation-delay: 1.8s
// .star:nth-child(6)::before, .star:nth-child(6)::after
//     animation-delay: 2s
//     top: calc(10% - -100px)
//     left: calc(10% - 250px)
